/* 
    Document   : webtv
    Created on : 11-feb-2012, 11.22.25
    Author     : Tony
    Description:
        Purpose of the stylesheet follows.
*/


#slide {
    width: 389px;
    height: 292px;

    float: right;
    position: relative;

    border: 2px solid #2F4F7B;

    -moz2y-border-radius: 5px 5px 5px 5px;
    box-border-radius:5px 5px 5px 5px;     -webkit-border-radius:5px 5px 5px 5px; -moz-box-shadow: 0px 0px 8px #262626;
    box-shadow: 0px 0px 10px #262626; -webkit-box-shadow: 0px 0px 10px #262626; -moz-box-shadow: 0px 0px 10px #262626;

    margin-right: 6px;
}

#slide_src {
    width:100%;
}

/*#box_video{*/

.video-js-box {
    margin-bottom: 10px;
    background-color: #fff;

    width: 488px;
    height: 280px;
    float: left;
    position: relative;
    border: 2px solid #2F4F7B;
    -moz-border-radius: 5px 5px 5px 5px;
    box-border-radius:5px 5px 5px 5px;     -webkit-border-radius:5px 5px 5px 5px; -moz-box-shadow: 0px 0px 8px #262626;
    box-shadow: 0px 0px 10px     #262626; -webkit-box-shadow: 0px 0px 10px #262626; -moz-box-shadow: 0px 0px 10px #262626;
}

.mejs-video {
    width: 100% !important;
    height: 100% !important;
}

.buttons {
    float: left;
    position: relative;
    padding-top: 1em;
}

#video-fullscreen {
    width:96px;
    height: 98px;
    background: url(../img/video_fullscreen.png) no-repeat;
    border:none;
    float:left;
}
#video-slide-fullscreen {
    width:96px;
    height: 98px;
    background: url(../img/video_slide_fullscreen.png) no-repeat;
    border:none;
}

#slide-fullscreen {
    width:96px;
    height: 98px;
    background: url(../img/slide_fullscreen.png) no-repeat;
    border:none;
}
#file-download {
    width:96px;
    height: 98px;
    background: url(../img/download.png) no-repeat;
    border:none;
}
#file-download-off {
    width:96px;
    height: 98px;
    background: url(../img/download-off.png) no-repeat;
    border:none;
}

#vjs-fullscreen-msg {
    display:none;
    border: 2px solid #fff;
    padding: 5px 50px 5px 50px;
    -moz-border-radius: 15px 15px 15px 15px;
    box-border-radius:15px 15px 15px 15px;     -webkit-border-radius:15px 15px 15px 15px; -moz-box-shadow: 0px 0px 8px #262626;
    box-shadow: 0px 0px 10px #262626; -webkit-box-shadow: 0px 0px 10px #262626; -moz-box-shadow: 0px 0px 10px #262626;
    position: fixed;
    background-color:#000;
    top: 20px;
    left:50%;
    z-index: 1500;
    margin:0 auto 0 -352px;
    width:700px;
    text-align:center;
}
#vjs-fullscreen-msg span {
    color: #ddd;
    font-weight: bold;
    font-size:200%;
    margin:auto;
}

/*
.video-js-box video, .video-js-box .me-plugin{
    min-width:490px;
    min-height:280px;
}
*/

.puffoblu {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:1000;
    background-color: #000;
    height:100%;
    width:50%;
}

.dragoviola {
    position:fixed!important;
    top:0!important;
    right: 0!important;
    bottom: 0!important;
    z-index:1000;
    background-color: #000;
    height:100%!important;
    width:50%!important;
}

#video-js-box.puffoblu, #slide.dragoviola {
    border: none;
    -moz-border-radius: 0;
    box-border-radius:0; -webkit-border-radius:0; -moz-box-shadow: 0;
    box-shadow: 0; -webkit-box-shadow: 0; -moz-box-shadow: 0;

}

.fullscreen_container {
    position: fixed;
    top: 0;
    bottom: 0;
    height:100% !important;
    background-color: #000;
    z-index: 1000;
}

.fullscreen {
    position: relative;
    top: 50%;
}
/*
.fullscreen video {
    width:100%;
    height:100%;
    top: 50%;
}
*/
footer{
    float: left;
    position: relative;
}


.jumper{
    position: relative;
    float:left;
    padding: 2px;

    background-color: whitesmoke;

    width: 478px;
    border: 1px solid #61625D;
    margin: 2px;
    margin-right: 100px;
    -moz-border-radius:5px 5px 5px 5px;

    cursor: pointer;
}

.jumper:hover{
    background-color: #8CC700;
}

.jumper.disabled {
    background-color: grey;
}

.anteprima_jumper{
    position: relative;
    float:left;
    overflow: hidden;
    border: 1px solid #61625D;
    margin-right: 5px;

    -moz-border-radius:5px 5px 5px 5px;
}


#percorso_elemento{
    width: 100%;
    height: 30px;
    float: left;
    position: relative;

}
#percorso_elemento a{

    height: 30px;
    position: relative;
    text-decoration: underline;
}

.titolo_elemento{
    font-size: 17px;
    font-weight: bold;
    color: #2A476E;
}

#box_jumper{
    float: left;
    position: relative;
    width: 500px;

}

#logarea {
    float: left;
    position: relative;
    padding-top: 1em;
    width: 40%;
}

#box_jumper{   
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

#box_jumper {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 490px;
    margin-top: 17px;
    margin-right: 3px;
}